<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
    <title> Slack report </title>
    <!--[if !mso]><!-- -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

<ul style="list-style: none;">
    {% for message in messages %}
    <li style="font-weight: bold">{{ message.username }}</li>
        {% for attachment in message.attachments %}
            {% if attachment.title != 'BACKEND'%}
            <li>{{ attachment.title }}</li>
            <li>{{ attachment.text }}</li>
            {% endif %}
        {% endfor %}
            </br>
    {% endfor %}

</ul>


</body>

</html>
