<!doctype html>
<head>
    <title> {{ channel.name }}: DailyStandupReport </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<style rel="stylesheet" type="text/css">
    .main {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
    }
    p {
        line-height: 1em;
        margin: 2px;
        padding: 2px;
    }
</style>

<body class="main">

<h1> DSM report: {{ today|date('Y-m-d') }}</h1>

{% for message in channel.messages %}
<p>
    {{ message.text }}

</p>
{% endfor %}
</body>

</html>
